.about-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  h3 {
    padding: 20px 0;
    font-size: 1.5em;
    text-align: center;
    color: #000;
    font-family: $main-header-font;;
  }
  .about-content {
    padding: 0 20px 20px 20px;
    font-size: 1.1em;
    font-weight: 700;
  }
}

