.create-user-card {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  h1 {
    @include form-header;
  }
  .firstname,
  .lastname {
    width: 100%
  }
  h6 {
    color: #c1ef2d;
    text-align: center;
  }
  .login-user-link {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #FFF;
    font-family: $main-header-font;
    font-weight: 700;
    text-decoration: none;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    &:hover {
      color: #c1ef2d;
    }
  }
}