@import 'reset';
@import 'variables';
@import 'home';
@import 'dashboard';
@import 'login';
@import 'create-new-user';
@import 'create-new-ride';
@import 'rideinfo';
@import 'signin-create-form';
@import 'header';
@import 'places-search';

body {
  min-height: 100vh;
  background: $mobile-background-img;
  font-family: $main-content-font;
  @include background-cover;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 700px) {
  body {
    background: $small-desktop-background-img;
    @include background-cover;
  }
}
@media screen and (min-width: 1000px) {
  body {
    background: $large-desktop-background-img;
    @include background-cover;
  }
}