@import 'reset';
@import 'variables';
@import 'home';
@import 'dashboard';
@import 'login';
@import 'create-new-user';
@import 'create-new-ride';
@import 'rideinfo';
@import 'signin-create-form';
@import 'header';
@import 'places-search';

body {
  min-height: 100vh;
  background-size: cover;
  background: $mobile-background-img;
  font-family: $main-content-font;
}