.ride-info-wrapper {
  position: relative;
  height: 100%;
  .modal-header {
    margin-bottom: 25px;
    font-family: $main-header-font;
    font-weight: 700;
    font-size: 1.4em;
  }
  .modal-name {
    margin: 8px 0;
    font-size: 1.2em;
    font-weight: 700;
    &:before {
      display: inline-block;
      content: "";
      width: 22px;
      height: 22px;
      margin-right: 8px;
      background: url(../images/helmet.svg) no-repeat;
      background-size: 22px 22px;
    }
  }
  .modal-email {
    display: block;
    margin: 8px 0;
    color: #c1ef2d;
    text-decoration: none;
    &:before {
      display: inline-block;
      content: "";
      width: 20px;
      height: 18px;
      margin-right: 8px;
      background: url(../images/email.svg) no-repeat;
      background-size: 20px 20px;
    }
  }
  .modal-location {
    margin: 8px 0 20px 0;
    &:before {
      display: inline-block;
      content: "";
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background: url(../images/location.svg) no-repeat;
      background-size: 20px 20px;
    }
  }
  .ride-location {
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
  }
  .close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #c1ef2d;
    border-radius: 50%;
    background: #c1ef2d;
    font-family: $main-header-font;
    font-weight: 700;
    cursor: pointer;
  }
}

.map-marker {
  border: 1px solid #D4D;
  border-radius: 5px;
  background: transparent url(../images/bike.svg) no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    margin: 28px 0 0 5px;
    background: transparent url(../images/down-triangle.svg) no-repeat;
  }
}

.delete-ride-button {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent url(../images/trash.svg) no-repeat 0px 0px / 25px;
  cursor: pointer;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  &:hover {
    background: transparent url(../images/trash-open.svg) no-repeat 0px 0px / 25px;
  }
}

.ride-match-button {
  border: 2px solid #c1ef2d;
  background: #c1ef2d;
  font-family: $main-header-font;
  font-weight: 700;
  cursor: pointer;
}

.ride-match-modal {
  height: 80%;
  width: 80%;
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #c1ef2d;
  background: rgba(0,0,0, 0.9);
  color: #FFF;
  overflow: auto;
  outline: none;
}