@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$main-header-font: 'Permanent Marker', cursive;

//cog-animation
$cog-animation: spin 10000ms linear infinite;
@mixin cog-spin-keyframe {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@mixin form-header {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 60px;
  border: 1px solid grey;
  text-align: left;
  color: #FFF;
  font-size: 1.5em;
  box-sizing: border-box;
}